---
import '../styles/global.scss';
---

<footer>
	<p>© 2025</p>
	<div class="footer_links">
		<a href="https://x.com/FluxAIPro" target="_blank">X</a>
		<!-- <a href="#">GitHub</a> -->
	</div>
</footer>
