---
import BaseHead, { type Props as HeadProps } from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Plausible from '../components/plausible.astro';

type Props = HeadProps;

const { ...head } = Astro.props;
const defaultOgImage = {
	src: 'https://s.detools.dev/assets/balg8q301.jpeg',
	alt: 'Flux AI Changelog'
};
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead {...head} image={head.image || defaultOgImage} />
		<Plausible domain={Astro.url.hostname} />
	</head>
	<body>
		<div class="glow"></div>
		<Header />
		<slot />
		<Footer />
	</body>
</html>
